# Database
db.sqlite3

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environments
env/
venv/
.env

# Ignore IDE settings
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db